[submodule "armlearn-wrapper"]
	path = armlearn-wrapper
	url = https://github.com/gegelati/armlearn-wrapper.git
	branch = develop
[submodule "gegelati"]
	path = gegelati
	url = https://github.com/gegelati/gegelati
	branch = develop
